<div id="<%= dom_id match %>">

  <p>
    <strong>Match:</strong>

    <%= link_to match.teams[0].name, team_path(match.teams[0].id) %> <strong>VS</strong>
    <%= link_to match.teams[1].name, team_path(match.teams[1].id) %>
  </p>

  <p>
    <strong>League:</strong>
    <%= link_to match.sport.name, sport_path(match.sport.id) %>
  </p>
  <p>
    <%=render match.location %>
  </p>
  <p>
    <strong>Date:</strong>
    <%= match.date %>
  </p>

</div>
