<!DOCTYPE html>
<html>
  <head>
    <title>IntroProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%
     placeHolderText = [
    "Search for a player",
    "Search for a team",
    ]

     searchType = [
    "/searchplayers",
    "/searchteams"
     ]
    %>



    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <form action = <%=searchType[0]%>>
      <input text ="text" name = "q" placeholder = "<%=placeHolderText[0]%>" aria-label = "<%=placeHolderText[0]%>">

      <button type = "submit"> Search </button>
    </form>
    <%= yield %>
  </body>
</html>

